@model SisArrendamiento.Paginar.PaginatedList<SisArrendamiento.Models.Alquiler>
@{
    ViewData["Title"] = "Index";
}

<h1>Documentos de renta</h1>

<p>
    <a asp-action="Crear">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Buscar por nombre: <input type="text" name="busca" class="form-control" value="@ViewData["filtroBusqueda"]" />
            <input type="submit" value="Busca" class="btn btn-primary" /> |
            <a asp-action="Index">Regresar</a>
        </p>
    </div>
</form>
<form asp-action="Index" method="get">
    <div class="row">
        <p>
            <div class="col">
                <label for="fechaInicio">Fecha de inicio:</label>
                <input type="date" id="fechaInicio" name="fechaInicio" class="form-control" value="@ViewData["fechaInicio"]" />
            </div>
            <div class="col">
                <label for="fechaFin">Fecha de Fin:</label>
                <input type="date" id="fechaFin" name="fechaFin" class="form-control" value="@ViewData["fechaFin"]" /> |
            </div>
            <div class="col">
                <input type="submit" value="Filtrar" class="btn btn-primary" />
            </div>
        </p>
    </div>
</form>
<p>Total pagos: @ViewData["totalPagos"]</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-ordenActual="@ViewData["filtroNombre"]"
                   asp-route-filtroActual="@ViewData["filtroActual"]">
                    Apellidos
                </a>
            </th>
            <th>
                <label>Arrendatario</label>
            </th>
            <th>
                <label>Pago Total</label>
            </th>
            <th>
                <a asp-action="Index" asp-route-ordenActual="@ViewData["filtroFecha"]"
                   asp-route-filtroActual="@ViewData["filtroActual"]">
                    Fecha
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrendatarioCodigoNavigation.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrendatarioCodigoNavigation.Apellidos), @Html.DisplayFor(modelItem => item.ArrendatarioCodigoNavigation.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PagoTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaActual)
                </td>
                <td>
                    <a asp-action="NewMes" asp-route-id="@item.Codigo">Nuevo Mes</a> |
                    @*<a asp-action="Editar" asp-route-id="@item.Codigo"><img style="height: 40px; width: 40px" src="https://iconarchive.com/download/i42608/oxygen-icons.org/oxygen/Actions-document-edit.ico" /></a> |
                <a asp-action="Detalles" asp-route-id="@item.Codigo"><img style="height= 40px; width: 40px;" src="https://icons.iconarchive.com/icons/hopstarter/soft-scraps/256/Adobe-PDF-Document-icon.png" /></a> |*@
                    @{
                        if(item.PagoTotal == null)
                        {
                            <a asp-action="CompletaContrato" asp-route-id="@item.Codigo">Completar</a>
                        }
                        else
                        {
                            <a asp-action="Editar" asp-route-id="@item.Codigo">Editar</a>
                        }
                    } |
                    <a asp-action="Detalles" asp-route-id="@item.Codigo">Imprimir</a> |
                    <a asp-action="Eliminar" asp-route-id="@item.Codigo">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDis = !Model.HasPreviousPage ? "disabled" : "";
    var nextDis = !Model.HasNextPage ? "disabled" : "";
}

<div>
    <a asp-action="Index"
       asp-route-ordenActual="@ViewData["ordenActual"]"
       asp-route-numPag="@(Model.PageIndex - 1)"
       asp-route-filtroActual="@ViewData["filtroActual"]"
       class="btn btn-primary @prevDis">
        Previous
    </a>
    @for (var i = 1; i <= Model.TotalPage; i++)
    {
        var pagActiva = (i == Model.PageIndex) ? "active" : "";
        <a asp-action="Index" asp-route-ordenActual="@ViewData["ordenActual"]"
       asp-route-numPag="@i" asp-route-filtroActual="@ViewData["filtroActual"]"
       class="btn btn-primary @pagActiva">@i</a>
    }
    <a asp-action="Index"
       asp-route-ordenActual="@ViewData["ordenActual"]"
       asp-route-numPag="@(Model.PageIndex + 1)"
       asp-route-filtroActual="@ViewData["filtroActual"]"
       class="btn btn-primary @nextDis">
        Next
    </a>
</div>